.profile-image{
    max-width: 200px;
    max-height: 200px;
    border: 1px solid blue;
    border-radius: 50%;
}
.table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table tr td {
    padding: 15px 10px;
    border: 0.5px solid #e2e2e2;
  }
  .cen{
      align-content: center;
      }

.class1{
  margin-left: 2%;
  margin-top: 2%;
}